@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
#title {
	position:absolute;
	font-size: 7em;
	right: 80px;
	top: -80px;
	left: auto;
	z-index: 1;	
    font-family: "Open Sans";
}

 .output_box {
    width: 440px;
    float: left;
    margin: 0 20px 0 20px;
 }

 .output_box div, .box input {
    border: 1px solid;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
    padding: 5px;
    margin: 3px 0 10px 0;
}

.output_box div {
    border-color: grey;
    height: 300px;
    overflow: auto;
}

div code {
    display: block;
}

#connecting_from_output div code {
   -moz-border-radius: 2px;
   border-radius: 2px;
   border: 1px solid #eee;
   margin-bottom: 5px;
}

#connecting_to_output div {
  font-size: 0.8em;
}

#connect_to {
    top: 330px;
    height: auto;
    float: left;
    left: 2em;
    position: absolute;
}

#connect_from {
    top: 320px;
    height: auto;
    right: 440px;
    position: absolute;
}
  